


.after-custom::after {
    content: '';
    background: #26c4e0;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 5px;
}
.tesimonial{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    margin-top: -60px;
    position: absolute;
   /* left: calc(50% -60px); */
    border: 10px solid white;
    /* z-index: 999; */
    
}
.user{     
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.box{
    display: flex;
}
.not-found{
   
        width: 100vw;
        height: 100vh;
        background-size: cover;
}

.text{
    margin-left: 15px;
}
.icon{
    font-size: 25px;    
    color: lightseagreen;
}
